# Exploratory Data Analysis

Libraries:

In [1]:
import pandas as pd

## Data Import

Overall there are six different columns:

- Age
- Sex
- Blood Pressure Levels (BP)
- Cholesterol Levels
- Sodium (Na) to Potassium Ratio
- Drug Type

The goal is to predict the drug type, given the other features.

In [2]:
data = pd.read_csv("data.csv")
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

There are 200 different patients.

In [4]:
len(data)

200

## Single features

### Age

In [6]:
data["Age"].describe()

count    200.000000
mean      44.315000
std       16.544315
min       15.000000
25%       31.000000
50%       45.000000
75%       58.000000
max       74.000000
Name: Age, dtype: float64