# Naive Prediction

This model acts as a baseline. Because drug Y appears by far the most often, this model will always predict this as an output.

In [1]:
import pandas as pd
from sklearn.metrics import classification_report

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
y_train = train.iloc[:, -4:]
y_train.value_counts()

Drug_B  Drug_C  Drug_X  Drug_Y
0       0       0       1         73
                1       0         43
                0       0         18
        1       0       0         13
1       0       0       0         13
dtype: int64

Get shape of true test values.

In [4]:
y_test = test.iloc[:, -4:]
y_test.shape

(40, 4)

In [5]:
predictions = pd.DataFrame({"Drug_B": [0]*40,
                            "Drug_C": [0]*40,
                            "Drug_X": [0]*40,
                            "Drug_Y": [1]*40})

In [6]:
predictions

    Drug_B  Drug_C  Drug_X  Drug_Y
0        0       0       0       1
1        0       0       0       1
2        0       0       0       1
3        0       0       0       1
4        0       0       0       1
5        0       0       0       1
6        0       0       0       1
7        0       0       0       1
8        0       0       0       1
9        0       0       0       1
10       0       0       0       1
11       0       0       0       1
12       0       0       0       1
13       0       0       0       1
14       0       0       0       1
15       0       0       0       1
16       0       0       0       1
17       0       0       0       1
18       0       0       0       1
19       0       0       0       1
20       0       0       0       1
21       0       0       0       1
22       0       0       0       1
23       0       0       0       1
24       0       0       0       1
25       0       0       0       1
26       0       0       0       1
27       0       0       0       1
28       0       0       0       1
29       0       0       0       1
30       0       0       0       1
31       0       0       0       1
32       0       0       0       1
33       0       0       0       1
34       0       0       0       1
35       0       0       0       1
36       0       0       0       1
37       0       0       0       1
38       0       0       0       1
39       0       0       0       1

In [7]:
c = classification_report(y_test, predictions)

/Users/Alexander/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Alexander/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [8]:
print(c)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.00      0.00      0.00         3
           2       0.00      0.00      0.00        11
           3       0.45      1.00      0.62        18

   micro avg       0.45      0.51      0.48        35
   macro avg       0.11      0.25      0.16        35
weighted avg       0.23      0.51      0.32        35
 samples avg       0.45      0.45      0.45        35

In [13]:
np.argmax(y_test.values, axis = 1)

array([3, 3, 2, 3, 3, 0, 0, 3, 1, 0, 3, 2, 3, 3, 2, 0, 0, 2, 2, 3, 3, 0,
       2, 0, 2, 3, 1, 3, 3, 2, 3, 2, 3, 1, 2, 3, 2, 0, 3, 3])

In [10]:
import numpy as np

In [12]:
y_test.values

array([[0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1]])

In [17]:
y_test.idxmax(axis=1)

0     Drug_Y
1     Drug_Y
2     Drug_X
3     Drug_Y
4     Drug_Y
5     Drug_B
6     Drug_B
7     Drug_Y
8     Drug_C
9     Drug_B
10    Drug_Y
11    Drug_X
12    Drug_Y
13    Drug_Y
14    Drug_X
15    Drug_B
16    Drug_B
17    Drug_X
18    Drug_X
19    Drug_Y
20    Drug_Y
21    Drug_B
22    Drug_X
23    Drug_B
24    Drug_X
25    Drug_Y
26    Drug_C
27    Drug_Y
28    Drug_Y
29    Drug_X
30    Drug_Y
31    Drug_X
32    Drug_Y
33    Drug_C
34    Drug_X
35    Drug_Y
36    Drug_X
37    Drug_B
38    Drug_Y
39    Drug_Y
dtype: object

In [16]:
y_test

    Drug_B  Drug_C  Drug_X  Drug_Y
0        0       0       0       1
1        0       0       0       1
2        0       0       1       0
3        0       0       0       1
4        0       0       0       1
5        1       0       0       0
6        0       0       0       0
7        0       0       0       1
8        0       1       0       0
9        1       0       0       0
10       0       0       0       1
11       0       0       1       0
12       0       0       0       1
13       0       0       0       1
14       0       0       1       0
15       0       0       0       0
16       0       0       0       0
17       0       0       1       0
18       0       0       1       0
19       0       0       0       1
20       0       0       0       1
21       0       0       0       0
22       0       0       1       0
23       1       0       0       0
24       0       0       1       0
25       0       0       0       1
26       0       1       0       0
27       0       0       0       1
28       0       0       0       1
29       0       0       1       0
30       0       0       0       1
31       0       0       1       0
32       0       0       0       1
33       0       1       0       0
34       0       0       1       0
35       0       0       0       1
36       0       0       1       0
37       0       0       0       0
38       0       0       0       1
39       0       0       0       1